@mixin background($color1, $color2) {
  background: $color1;
  background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, $color1),
    color-stop(100%, $color2)
  );
  background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
  background: -o-linear-gradient(top, $color1 0%, $color2 100%);
  background: -ms-linear-gradient(top, $color1 0%, $color2 100%);
  background: linear-gradient(to bottom, $color1 0%, $color2 100%);
}

.page {
  $breakpoint: 768px;

  padding: 10px 20px 50px;
  position: relative;
  @include background(rgba(240, 246, 250, 1), rgba(219, 239, 252, 1));

  h1,
  h2,
  h3 {
    color: #32a3b1;
  }

  .title {
    font-weight: 500;
    span {
      font-weight: 700;
      text-transform: lowercase;
    }
  }

  .logout,
  .darkMode {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #ebf5fc;
    color: #006c9c;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 40px;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 1),
      2px 2px 6px rgba(0, 0, 0, 0.1);

    &:hover {
      color: hsl(198, 98%, 25%);
      font-weight: 700;
      box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 1),
        inset 2px 2px 6px rgba(0, 0, 0, 0.1);
    }
  }

  .darkMode {
    right: 115px;
  }

  .containerChat {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;

    @media (min-width: $breakpoint) {
      flex-direction: row;
    }

    li {
      list-style: none;
    }

    .usersBoard {
      padding: 20px 10px;
      background: #ebf5fc;
      color: #868686;
      border-radius: 10px;
      box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.8),
        5px 5px 10px rgba(0, 0, 0, 0.1);
      width: 100%;
      min-width: 100px;

      @media (min-width: $breakpoint) {
        width: 20%;
      }

      ul {
        li {
          margin-bottom: 12px;
          &.me {
            font-weight: 900;
          }
          .connected,
          .notConnected {
            display: inline-block;
            background-color: lightgreen;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            box-shadow: 0 0 15px 4px lightgreen;
            margin-right: 10px;
          }

          .notConnected {
            background-color: gray;
            box-shadow: none;
          }
        }
      }
    }

    .messagesBoard {
      background: #ebf5fc;
      width: 100%;
      min-width: 350px;
      margin: 20px 0 0;

      @media (min-width: $breakpoint) {
        width: 80%;
        margin: 0 0 0 20px;
      }

      form {
        background: transparent;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }

  &.dark {
    @include background(rgb(63, 60, 60), hsl(198, 55%, 22%));

    h1,
    h2,
    h3 {
      color: rgb(103, 215, 230);
    }

    .logout,
    .darkMode,
    input[type="submit"] {
      color: rgb(103, 215, 230);
      @include background(rgb(68, 67, 67), rgb(27, 27, 27));
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1),
        -2px -2px 2px rgba(255, 255, 255, 1);
      &:hover {
        box-shadow: 2px 2px 2px rgba(255, 255, 255, 1),
          -2px -2px 2px rgba(0, 0, 0, 0.1);
      }
    }

    .usersBoard,
    .messagesBoard {
      background: rgb(68, 67, 67);
    }

    .messagesBoard ul {
      @include background(hsl(0, 2%, 75%), hsl(0, 0%, 48%));
    }

    input {
      &::placeholder {
        color: rgba(75, 74, 74, 0.849);
      }
      color: #006c9c;
      @include background(rgb(212, 209, 209), rgb(148, 146, 146));
    }
  }
}
