.sign-in {
    position: absolute;
    background-color: #ffe4c4;
    height:100%;
    width:100%;
    mix-blend-mode: normal;
}

form {
    background-color: white;
}

.image-logo-center {
    display:block; 
    margin-left:auto; 
    margin-right:auto;
}