.sign-up {
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    height:calc(190%);
    width:calc(100%);
    mix-blend-mode: normal;
}

form {
    background-color: white;
    
}

.errormessage{
    color: #ff0000
    
}

.image-logo-center {
    display:block; 
    margin-left:auto; 
    margin-right:auto;
}