.conditions {
  position: relative;
  margin-top: 10px;
  left: calc(5%);
  width: calc(90%);
  height: 100px;
  border: 2px solid;
  border-radius: 10px;
}
.conditionsMBTI {
  position: relative;
  margin-top: 10px;
  left: calc(5%);
  width: calc(90%);
  height: 180px;
  border: 2px solid;
  border-radius: 10px;
}
.conditionsAge {
  position: relative;
  margin-top: 10px;
  left: calc(5%);
  width: calc(90%);
  height: 140px;
  border: 2px solid;
  border-radius: 10px;
}
.conditionP {
  font-size: 20px;
  font-weight: bold;
}
