.status {
  position: fixed;
  top: 40px;
  left: 20px;
  width: calc(42%);
  height: calc(60%);
  border: 3px solid;
  text-align: center;
  margin: 30px;
  border-radius: 10px;
}

.condition {
  position: fixed;
  top: 40px;
  left: calc(52%);
  width: calc(42%);
  height: calc(86%);
  border: 3px solid;
  text-align: center;
  margin: 30px;
  border-radius: 10px;
}

.button {
  position: fixed;
  left: 20px;
  top: calc(67% + 30px);
  border: 1px solid;
  width: calc(42%);
  height: calc(20%);
  margin: 30px;
}
.buttonTextM {
  font-size: 40px;
}
