.conditions {
  position: relative;
  margin-top: 10px;
  left: calc(5%);
  width: calc(90%);
  height: 11vh;
  border: 1px solid;
  border-radius: 10px;
}
.conditionsMBTI {
  position: relative;
  margin-top: 10px;
  left: calc(5%);
  width: calc(90%);
  height: 20vh;
  border: 1px solid;
  border-radius: 10px;
}
.conditionsAge {
  position: relative;
  margin-top: 10px;
  left: calc(5%);
  width: calc(90%);
  height: 15vh;
  border: 1px solid;
  border-radius: 10px;
}
.conditionP {
  font-size: 2vh;
}
