.status {
  position: fixed;
  top: calc(5% + 40px);
  left: 20px;
  width: calc(42%);
  height: calc(65%);
  border: 3px solid;
  text-align: center;
  margin: 30px;
  border-radius: 10px;
}

.condition {
  position: fixed;
  top: calc(5% + 40px);
  left: calc(52%);
  width: calc(42%);
  height: calc(83%);
  border: 3px solid;
  text-align: center;
  margin: 30px;
  border-radius: 10px;
}

.button {
  position: fixed;
  left: 20px;
  top: calc(72% + 30px);
  border: 1px solid;
  width: calc(42%);
  height: calc(15%);
  margin: 30px;
}
.buttonTextM {
  font-size: 40px;
}

.nav-tabs .nav-link {
  background-color: #ffcf96 !important;
  color: black !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.nav-tabs .nav-link.active {
  border-bottom: solid 4px gray !important;
  border-top: solid 4px gray !important;
  border-left: solid 4px gray !important;
  border-right: solid 4px gray !important;
}
.matching_wrapper {
  position: fixed;
  width: calc(100%);
  height: calc(100%);
  background-color: #ffe4c4;
}
