.manner{
    float:left;
    width: 250px;
    background-color:#F8F8F8;
    margin: 30px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}

.profile{
    float:right;
    height:calc(100%);
    width: calc(100% - 370px);
    margin: 30px;
    border: 1px solid;
}

.block{
    width: calc(100% - 60px);
    height:calc(100%);
    margin: 30px;
    border: 1px solid;
}

.submitbutton {
    float:right;
    margin-top: 20px;
}

.buttonText {
    font-size: 15px;
}

.tempbar{
    transform: rotate(270deg) scaleY(1.5);
    margin-top: calc(50%);
    border: 1px solid;
}

.barcontainer{
    height: 250px;
}

.pad{
    padding: 15px;
}

.errormessage{
    color: #ff0000
    
}