@mixin background($color1, $color2) {
  background: $color1;
  background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, $color1),
    color-stop(100%, $color2)
  );
  background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
  background: -o-linear-gradient(top, $color1 0%, $color2 100%);
  background: -ms-linear-gradient(top, $color1 0%, $color2 100%);
  background: linear-gradient(to bottom, $color1 0%, $color2 100%);
}

.container {
  @include background(rgba(240, 246, 250, 1), rgba(219, 239, 252, 1));

  text-align: center;
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);

  .goBack {
    margin-top: 40px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #ebf5fc;
    color: #006c9c;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 40px;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 1),
      2px 2px 6px rgba(0, 0, 0, 0.1);

    &:hover {
      color: #006c9c;
      box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 1),
        inset 2px 2px 6px rgba(0, 0, 0, 0.1);
    }
  }
}
